<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas e Respostas</title>
</head>
<body>

  <h1>Nome: <%= name %></h1>
  <h2>Idade: <%= age %></h2>

</body>
</html>